{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-8">
            <h1 class="text-center">Tweets</h1><br>

            {% for tweet in tweets %}
            <div class="card text-bg-light mb-4" style="text-align: left;">
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <p>{{tweet.body}}</p>
                        <footer class="blockquote-footer"><i>@{{tweet.user|lower}} at {{tweet.created_at }}</i></footer>
                    </blockquote>
                </div>
            </div>
            {% endfor %}
        </div>
        
        {% if form %}
            <div class="col-4"><br><br><br>    
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    
                    <button type="submit" class="btn btn-primary">Tweet!</button>
                </form>
            </div>
            
        {% endif %}
            
    </div>
</div>
{% endblock content %}